nav.main {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  width: 122px;
  background-color: #25242e;
  writing-mode: vertical-rl;
  height: 100%;
}

nav.main ul {
  position: relative;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  z-index: 99;
}
nav.main li {
  display: block;
}

nav.main a {
  display: block;
  padding: 10px 0;
  color: #cbd2d0;
  text-decoration: none;
  font-weight: 700;
  font-size: 3rem;
  text-transform: uppercase;
  transition: 0.2s;
  z-index: 100;
}

nav.main a:hover {
  color: #09359a;
}

nav.main a.active {
  color: #f50000;
  background-color: #25242e;
  transform: translateX(0px);
}

nav.main .strip {
  position: absolute;
  top: 0;
  left: 50%;
  background-color: #f50000;
  width: 5px;
  height: 100vh;
  z-index: 1;
}
@media screen and (max-width: 900px) {
  nav.main {
    position: fixed;
    width: calc(100vw - 40px);
    height: 80px;
    right: 0;
    bottom: 0;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: #25242e;
    writing-mode: horizontal-tb;
    z-index: 200;
  }
  nav.main ul {
    width: 100%;
    position: relative;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  nav.main .strip {
    position: absolute;
    top: 50%;
    left: 0;
    background-color: #f50000;
    width: 100%;
    height: 3px;
    z-index: 1;
  }
  nav.main a {
    margin: 0;
    width: 100%;
    display: block;
    padding: 10px 0;
    color: #cbd2d0;
    text-decoration: none;
    font-weight: 700;
    font-size: 5vw;
    text-transform: uppercase;
    transition: 0.2s;
    z-index: 100;
  }
}
