.product {
  box-sizing: border-box;
  display: block;
  object-fit: contain;
  max-width: 100%;
}
.galery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
.galery img {
  margin-bottom: 3vw;
  object-fit: contain;
  max-width: 100%;
  max-height: 100vh;
  box-shadow: 5px 7px 0 #f50000;
}

.product h1 {
  text-align: left;
  margin-left: 15%;
  font-size: 5rem;
  text-transform: uppercase;
  color: #ffffff;
}
.product h2 {
  font-family: "Source Sans Pro", sans-serif;
  text-align: left;
  font-weight: 400;
  margin-left: 15%;
  width: 50%;
  font-size: 1.4rem;
  line-height: 2rem;
  margin-bottom: 2rem;
}
.product ~ a {
  margin: auto;
  margin-bottom: 3vw;
  display: block;
  width: 30vw;
  color: #f50000;
  background-color: #09359a;
  text-decoration: none;
  font-size: 2vw;
  font-weight: 700;
}
@media screen and (max-width: 900px) {
  .galery img {
    max-width: 95%;
  }
  .product ~ a {
    font-size: 7vw;
    width: 50vw;
    margin-top: 10px;
    margin-bottom: 85px;
  }
  .product h1 {
    margin-left: 5%;
    font-size: 3rem;
    width: 80%;
  }
  .product h2 {
    font-family: "Source Sans Pro", sans-serif;
    text-align: left;
    margin-left: 5%;
    width: 85%;
    font-size: 1rem;
    line-height: 1rem;
    margin-bottom: 1rem;
  }
}
